<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.luthita.lesson06.dao.BookingDAO">
    <select id="selectBookingList" resultType="com.luthita.lesson06.model.Booking">
		SELECT
			`id`
			, `name`
			, `headcount`
			, `day`
			, `date`
			, `phoneNumber`
			, `state`
			, `createdAt`
			, `updatedAt`
			
		FROM
			`booking`
	</select>

	<delete id="deleteBookingById" parameterType="int">
	DELETE
	FROM
		`booking`
	WHERE
		`id` = #{id}
	</delete>
	
	<insert id="insertBooking" parameterType="com.luthita.lesson06.model.Booking">
    	INSERT INTO `booking`
    	(
            `name`
            , `date`
            , `day`
            , `headcount`
            , `phoneNumber`
            , `state`
            , `updatedAt`
            , `createdAt`
    	)
    	VALUES
    	(
    		#{name}
    		, #{date}
    		, #{day}
    		, #{headcount}
    		, #{phoneNumber}
    		, '대기중'
    		, NOW()
    		, NOW()
    	)
    </insert>
 </mapper>