<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.luthita.lesson06.dao.FavoriteDAO">
    <insert id="insertFavorite" parameterType="com.luthita.lesson06.model.Favorite">
    	INSERT INTO `favorite`
    	(
            `name`
            ,`address`
            ,`createdAt`
            ,`updatedAt`
    	)
    	VALUES
    	(
    		#{name}
    		, #{address}
    		, NOW()
    		, NOW()
    	)
    </insert>
    <select id="selectFavoriteList" resultType="com.luthita.lesson06.model.Favorite">
		SELECT
			`id`
			, `name`
			, `address`
			, `createdAt`
			, `updatedAt`
		FROM
			`favorite`
	</select>
	
	<delete id="deleteFavoriteById" parameterType="int">
		DELETE 
		FROM 
			`favorite`
		WHERE
			`id` = #{id}
		
	</delete>
 </mapper>