<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.luthita.lesson03.dao.Real_EstateDAO">
    <select id="selectReal_Estate" parameterType="int" resultType="com.luthita.lesson03.model.Real_Estate">
        SELECT
            `id`
            ,`realtorId`
            ,`address`
            ,`area`
            ,`type`
            ,`price`
            ,`rentPrice`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `real_estate`
        WHERE
 			`id` = #{id}
    </select>
    
    <select id="selectRealEstateListByRentPrice" parameterType="int" resultType="com.luthita.lesson03.model.Real_Estate">
    	SELECT
            `id`
            ,`realtorId`
            ,`address`
            ,`area`
            ,`type`
            ,`price`
            ,`rentPrice`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `real_estate`
    	WHERE
    		<![CDATA[
    			`rentPrice` <= #{rentPrice}
    		]]>
    </select>
		
	<select id="selectRealEstateListByAreaAndPrice" parameterType="map" resultType="com.luthita.lesson03.model.Real_Estate">
    	SELECT
            `id`
            ,`realtorId`
            ,`address`
            ,`area`
            ,`type`
            ,`price`
            ,`rentPrice`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `real_estate`
    	WHERE
    		`type` = '매매'
    		<![CDATA[
    			AND `area` >= #{area}
    			AND `price` <= #{price}
    		]]>
    	ORDER BY
    		`id` DESC
    </select>
    
    <insert id="insertReal_Estate" parameterType="com.luthita.lesson03.model.Real_Estate">
    	INSERT INTO `real_estate`
    	(
            `realtorId`
            ,`address`
            ,`area`
            ,`type`
            ,`price`
            ,`rentPrice`
            ,`createdAt`
            ,`updatedAt`
    	)
    	VALUES
    	(
    		#{realtorId}
    		, #{address}
    		, #{area}
    		, #{type}
    		, #{price}
    		, NULL
    		, NOW()
    		, NOW()
    	)
    	
    </insert>
    
    <insert id="insertReal_EstateAsField" parameterType="com.luthita.lesson03.model.Real_Estate">
    	INSERT INTO `real_estate`
    	(
            `realtorId`
            ,`address`
            ,`area`
            ,`type`
            ,`price`
            ,`rentPrice`
            ,`createdAt`
            ,`updatedAt`
    	)
    	VALUES
    	(
    		#{realtorId}
    		, #{address}
    		, #{area}
    		, #{type}
    		, #{price}
    		, NULL
    		, NOW()
    		, NOW()
    	)
    	
    </insert>
    
    <update id="updateReal_Estate" parameterType="map">
    	UPDATE `REAL_ESTATE`
    	SET
    		`type` = #{type}
    		, `price` = #{price}
    		, `updatedAt` = NOW()
    	WHERE
    		`id` = #{id}
    </update>
    
    <delete id="deleteReal_Estate" parameterType="int">
    	DELETE
    	FROM
    		`REAL_ESTATE`
    	WHERE
    		`id`=#{id}
    </delete>
 </mapper>